/*------------------------------------*\
    ELEMENTS
\*------------------------------------*/

$incluirBotones:           true!default;
$radioBoton:               0; //px or %
$bordeBoton:               3px; //px


/*------------------------------------*\
    FONTS
\*------------------------------------*/

$fuenteImportada:          true!default;
$fuenteLocal:              false!default;

$iconosFontawesome:        true!default;
$iconosIonicons:           true!default;

$font-size-base:           16px;


/*------------------------------------*\
    COLORS - DIFERENTES CLASIFICACIONES
\*------------------------------------*/



// General GrayColors
$black:                                 #000;
$gray-90:                               #1a1a1a;
$gray-80:                               #333;
$gray-70:                               #4c4c4c;
$gray-60:                               #666;
$gray-50:                               #808080;
$gray-40:                               #999;
$gray-30:                               #b2b2b2;
$gray-20:                               #ccc;
$gray-15:                               #d9d9d9;
$gray-10:                               #e6e6e6;
$gray-5:                                #f2f2f2;
$white:                                 #fff;

// Colors like bootstrap
$success-color:         #5cb85c;
$info-color:            #5bc0de;
$warning-color:         #f0ad4e;
$danger-color:          #d9534f;

// General Colors
$blue:                                  #049cdb; //blue
$green:                                 #46a546; //green
$red:                                   #9d261d; //red
$yellow:                                #ffc40d; //yellow
$orange:                                #f89406; //orange
$pink:                                  #c3325f; //pink
$purple:                                #7a43b6; //purple

// This Project Colors Palette
$first-color:                           #337ab7;  //Text
$second-color:                          red;  //Highlight Text
$third-color:                           #333333;  //Buttons, links
$fourth-color:                          #333333;  //Titles
$fifth-color:                           #dd062e;  //Links & BG
$sixth-color:                           #326E9C;  //Control de cambios Gui




/*------------------------------------*\
    MEDIA QUERIES BREAKPOINTS
\*------------------------------------*/

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  300px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);






/*------------------------------------*\
    CONFIGURACION GENERAL HTML
\*------------------------------------*/

html{
  //antialiasing
  -webkit-font-smoothing: subpixel-antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}


body {

  //fuentes
  font-size: $font-size-base;
  -webkit-text-size-adjust: $font-size-base;
  -ms-text-size-adjust: $font-size-base;
}


//Llamamos a la fuente principal en el body y a la secundaria en los H1,H2,H3...

body{
  @extend .font-primary;
}


// HEADINGS ====================================================

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .font-secondary;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

p {
  font-size: 0.875em;
  line-height: 1.5em;//1.5x16=24px
  text-align:left;
}

p+p:not(:first-of-type){
  text-indent: 1em;
}

p .capitular{
  @extend .font-secondary;
  float: left;
  font-size: 3em;
  padding-bottom: 0;
  margin: 0.6rem 0.2rem 0.5rem 0;
}

hr{
  border-top: 1px dashed #8c8b8b;
  border-bottom: 1px dashed #fff;
  margin:15px 0;
}

