/*------------------------------------*\
    COLORS
\*------------------------------------*/

$primary-color:         #337ab7;
$secondary-color:       #cf359a;

$success-color:         #5cb85c;
$info-color:            #5bc0de;
$warning-color:         #f0ad4e;
$danger-color:          #d9534f;
$light-color:           #fff;
$dark-color:            #000;
$grey-color:            #ccc;



/*------------------------------------*\
    MIXINS
\*------------------------------------*/

@mixin transition{
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

/*------------------------------------*\
    MEDIA QUERIES
\*------------------------------------*/

$smart: "(max-width : 320px)";
$mobile: "(max-width : 480px)";
$mobileMin: "(min-width : 320px)";
$mobileLand: "(min-width : 480px) and (max-width : 800px) and (orientation : landscape)"; /* se amplia para tablets pequeñas de baja gama */
$tablet: "(max-width : 768px)";
$tabletMin: "(min-width : 768px)";
$tabletLand: "(min-width : 800px) and (max-width : 1024px) and (orientation : landscape)";
$desktop: "(min-width : 1025px)";



/*------------------------------------*\
    CONFIG HTML
\*------------------------------------*/

body {
  font-size: 1em; /* Equivale a 16px */
  -webkit-text-size-adjust: 1em; /* 2 */
  -ms-text-size-adjust: 1em; /* 2 */
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

p {
  font-size: 0.875em;
  line-height: 1.5em;//1.5x16=24px
  text-align:left;
}

p+p:not(:first-of-type){
  text-indent: 1em;
}

p .capitular{
  @extend .font-secondary;
  float: left;
  font-size: 3em;
  padding-bottom: 0;
  margin: 0.6rem 0.2rem 0.5rem 0;
}

hr{
  border-top: 1px dashed #8c8b8b;
  border-bottom: 1px dashed #fff;
  margin:15px 0;
}