/*-----------------------------------------*\
    ESTA ES LA HOJA DE ESTILOS PRINCIPAL
\*-----------------------------------------*/
header{
  margin-top:20px !important;
  margin-bottom:10px;
  background:#d75893;
  div{
    font-size: 1.5em;
    color:$light-color;
    padding:5px;
  }
}


button{
  margin:5px 0;
}

h2{
  margin-bottom:10px;
}

.ejemplo{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}



// Así llamamos a 1 icono de fontawesome
.icono--estrella:before{
  @extend .fa;
  @extend .fa-star;
}

// Así llamamos a un icono de Ionicons
.icono--calendario:before{
  @extend .ion;
  @extend .ionicon-var-android-calendar;
}


// Así llamamos a los media queries
@media (max-width: $screen-xs){
  body{
    background:$info-color;
  }
}



//@media (max-width: 600px)


/*-----------------------------------------*\
    Estilos para la página de las columnas
\*-----------------------------------------*/


$bloquesPorFila: 3;

/*para sacar el ancho de cada div, dividimos 100% entre los bloques que habrá en cada fila
y le restamos el margen que habrá entre columnas*/
$margenEntreBloques:0.67%;
$ancho: (100%/$bloquesPorFila) - $margenEntreBloques;



.contenedor{
  background: #fbf2df;
  height: 100%;
  border: 1px solid red;
  margin: 30px;
  padding: 0;
  box-sizing: border-box;
  div{
    width: $ancho;
    background: #42b94d;
    color: #fff;
    height:250px;
    border-radius: 3px;
    box-sizing:border-box;
    padding:20px;
    margin:5px 0.5%;
    vertical-align:top;


    &:first-child{
      margin-left:0;
    }
    &:nth-child(3n+3) {
      background:orange;
      margin-right: 0;
    }

    /*a partir del cuarto, colorea de 3 en 3*/
    &:nth-child(3n+4) {
      margin-left:0;
      background:blue;
    }


  }
}

/*con float:left*/
.contenedor{
  float: left;
  div{
    float:left;
  }
}


/*con flex
.contenedor{
 display:flex;
  div{

  }
}*/




.row {
  -webkit-flex-direction: row;  /* Safari */
  flex-direction:  row;
}

.item-1{
  order: -1;
}
.item-2{
  order: 0;
}
.item-3{
  order: -2;
}
.item-6{
  order: 2;
}
.item-7{
  order: 0;
}

.item-8 {
  order : 1;
}








/*div doble altura
.content div.doble{
  height:510px;
}*/



h3, p{
  padding:10px;
  margin:0;
}

h3{
  border-bottom:1px solid rgba(255,255,255,.2);
  font-size:16px;
  font-weight:bold;
}



