/*-----------------------------------------*\
    ESTA ES LA HOJA DE ESTILOS PRINCIPAL
\*-----------------------------------------*/
header{
  margin-top:20px !important;
  margin-bottom:10px;
  background:#d75893;
  div{
    font-size: 1.5em;
    color:$light-color;
    padding:5px;
  }
}


button{
  margin:5px 0;
}

h2{
  margin-bottom:10px;
}

.ejemplo{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}



// Así llamamos a 1 icono de fontawesome
.icono--estrella:before{
  @extend .fa;
  @extend .fa-star;
}

// Así llamamos a un icono de Ionicons
.icono--calendario:before{
  @extend .ion;
  @extend .ionicon-var-android-calendar;
}


// Así llamamos a los media queries
@media (max-width: $screen-xs){
  body{
    background:$info-color;
  }
}



//@media (max-width: 600px)