@if $incluirBotones == true {

  /*------------------------------------*\
      BUTTONS
  \*------------------------------------*/

  /*clase principal para definir un botón*/
  .btn {
    font-size     : 0.875em;
    padding       : 11px 15px;
    color         : $light-color;
    background    : $light-color;
    border-radius : 3px;
    border        : 1px solid $grey-color;
    border-color : rgba(0,0,0,0.2);
    display       : inline-block;
    text-align    : center;
    box-sizing    : border-box;
    @include transition;
    &:hover {
      background : darken($light-color, 10%);
      cursor     : pointer;
      border-color:transparent;
    }
  }

  .btn--default{
    @extend .btn;
    color        : #333;
  }

  .btn--primary {
    @extend .btn;
    background   : $primary-color;
    &:hover {
      background : darken($primary-color, 10%);
    }
  }

  .btn--secondary {
    @extend .btn;
    background   : $secondary-color;
    &:hover {
      background : darken($secondary-color, 10%);
    }
  }

  .btn--success {
    @extend .btn;
    background   : $success-color;
    &:hover {
      background : darken($success-color, 10%);
    }
  }

  .btn--info {
    @extend .btn;
    background   : $info-color;
    &:hover {
      background : darken($info-color, 10%);
    }
  }

  .btn--warning {
    @extend .btn;
    background   : $warning-color;
    &:hover {
      background : darken($warning-color, 10%);
    }
  }

  .btn--danger {
    @extend .btn;
    background   : $danger-color;
    &:hover {
      background : darken($danger-color, 10%);
    }
  }

  .btn--dark {
    @extend .btn;
    background   : $dark-color;
    &:hover {
      background : lighten($dark-color, 40%);
    }
  }

  .btn--grey {
    @extend .btn;
    background   : $grey-color;
    &:hover {
      background : darken($grey-color, 10%);
    }
  }

  .btn--save {
    @extend .btn;
    background   : $primary-color;

    &:hover {
      background : darken($primary-color, 10%);
    }
    &:before {
      padding : 0 3px 0 0;
      //llamamos al icono que usaremos
      @extend .fa;
      @extend .fa-save;
    }
  }

  .btn--hidetext {
    @extend .btn;
    background   : $primary-color;
    //escondemos el texto
    @extend .hidetext;

    &:hover {
      background : darken($primary-color, 10%);
    }
    &:before {
      padding : 0 3px 0 0;
      //llamamos al icono que usaremos
      @extend .fa;
      @extend .fa-check;
    }
  }

}