@if $gridPersonal == true {





  .gridPersonal{
    background: #fbf2df;
    height: 100%;
    border: 1px solid red;
    padding: 0;
    box-sizing: border-box;
    margin:0;

    > div{
      width: 100%;
      padding:$paddingBloques-up_down $paddingBloques-left_right;
      @if $paddingMobile == false{
        @media (max-width: $screen-xs){
          padding:0;
        }
      }
      div.interior{
        width:100%;
        min-height:250px;
        height:250px;
        border-radius: 3px;
        box-sizing:border-box;
        color:#fff;
        background: #42b94d;
      }
    }



  }

  /*Ejemplo con float:left*/
  .gridPersonal{
    float: left;
    div{
      float:left;
    }
  }










  @if $nombreGrid1{
    body .gridPersonal.Guillermo1{
      background:blue;
    }
    .gridPersonal.Guillermo1{
      @media (min-width: $screen-xs){
        > div{
          $anchoBloque : 100% / $bloquesPorFilaejemplo1;
          width:$anchoBloque;
        }
      }
    }
  }

  @if $nombreGrid2{
    body .gridPersonal{
      background:coral;
    }
    .gridPersonal{
      @media (min-width: $screen-xs){
        > div{
          $anchoBloque : 100% / $bloquesPorFilaejemplo2;
          width:$anchoBloque;
        }
      }
    }
  }







  /*con flex
  .contenedor{
    display: flex;
    display: -webkit-flex;

    flex-direction: column;
    -webkit-flex-direction: column;

    div{
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;


    }
  }



  @media (min-width: $screen-xs){
    .contenedor{
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;

      div{
          width: $anchoBloque;
      }
    }
  }

  */

  .item-1{
    order: 0;
    div.interior{
      background:red !important;
    }
  }
  .item-2{
    order: 0;
    div.interior{
      background:#29a9ec !important;
    }
  }
  .item-3{
    order: 8;
    div.interior{
      background:orange !important;
    }
  }

  .item-4{
    order: 0;
  }
  .item-5{
    order: -1;
    div.interior{
      background:gray !important;
    }
  }

  .item-6 {
    order: 0;
  }

  .item-7{
    order: 0;
  }

  .item-8 {
    order: 0;
  }


  .gridPersonal{
    h3, p{
      padding:10px;
      margin:0;
    }

    h3{
      border-bottom:1px solid rgba(255,255,255,.2);
      font-size:16px;
      font-weight:bold;
    }
  }






}