/*------------------------------------*\
    MIXINS
\*------------------------------------*/

@mixin transition{
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}


.hidetext{
  width:40px;
  height:40px;
  display:inline-block;
  position:relative;
  overflow:hidden;
  text-indent: 100%;
  white-space: nowrap;
  text-decoration:none;
  &:before{
    // colocamos el icono
    position: relative !important;
    left: -18px !important;
  }
}

// ----------------------------------------------------------------
// Font & text useful Mixins
// ----------------------------------------------------------------

// Font-Size
@mixin fs($font-size:$base-font-size, $lines:1) {
  font-size: $font-size;
  font-size: rem($font-size);
}

// Line-Height
@mixin lh($lines:$base-line-increment, $font-size:$base-font-size) {
  line-height: $font-size * $lines;
  line-height: rem($font-size * $lines);
}

// Font-Weight
@mixin fw($weight:$regular) {
  font-weight: $weight;
}
// Font Family

/*$base-font-family:Arial;*/



// Creamos un mixin general que incluya a todos los mixin pequeños
// Font >> tamaño, altura de linea, peso, tipografia
@mixin font($font-size:$base-font-size, $lines:$base-line-increment, $weight:$regular,$font-family: $font-primary) {
  @include fs($font-size);
  @include lh($lines, $font-size);
  @include fw($weight);
  font-family: $font-family;
}
